@page "/upload"
@using System.IO
@using System.Text
@using System.Text.Json
@using System.Net.Http
@using System.Net.Http.Headers
@using WebLibrary

<PageTitle>Upload File</PageTitle>

<h1>Upload File</h1>
<p>Must be excel file with extension name ".xlsx" and file size not over @(FileSizeLimitMB)MB.</p>

<div class="form-control mb-3">
    <label class="form-label">ATM and RCM Dispute file</label>
    <InputFile class="form-control" accept=".xlsx" OnChange="@OnInputFile_Changed" disabled="@IsProcessing"></InputFile>
    @if (!string.IsNullOrEmpty(FileErrorMessage))
    {
        <span class="validation-message">@FileErrorMessage</span>
    }
</div>
@if (IsProcessing)
{
    <img src="loading-loading-symbol.gif" width="20" />
}
else if (IsFileUploaded)
{
    <span>@StatusMessage</span>
}
else if (FileUpload != null && string.IsNullOrEmpty(FileErrorMessage))
{
    <button type="button" class="btn btn-primary" @onclick="Upload">Post file</button>
}

<table>
    <thead>
        <tr>
            <th>Branch</th>
            <th>Terminal Id</th>
            <th>Transaction Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
            <tr>
                <td>@item.BranchCode</td>
                <td>@item.TerminalId</td>
                <td>@item.TransactionDate</td>
            </tr>
        }
    </tbody>
</table>