@page "/upload"
@using System.IO
@using System.Text
@using System.Text.Json
@using System.Net.Http
@using System.Net.Http.Headers
@using WebLibrary
@using WebUi.ViewModels

<PageTitle>Upload File</PageTitle>

<h1>Upload File</h1>
<p>Must be excel file with extension name ".xlsx" and file size not over @(FileSizeLimitMB)MB.</p>

<div class="form-control mb-3">
    <label class="form-label">ATM and RCM Dispute file</label>
    <InputFile class="form-control" accept=".csv" OnChange="@OnInputFile_Changed" disabled="@IsProcessing"></InputFile>
    @if (!string.IsNullOrEmpty(FileErrorMessage))
    {
        <span class="validation-message">@FileErrorMessage</span>
    }
</div>
@if (IsProcessing)
{
    <img src="loading-loading-symbol.gif" width="20" />
}
else if (FileUpload != null && string.IsNullOrEmpty(FileErrorMessage))
{
    <button type="button" class="btn btn-primary" @onclick="Upload">Post file</button>
}
<div class="row">
    <div class="col-4">
        <table class="table">
            <thead>
                <tr>
                    <th>Branch</th>
                    <th>ATM Errors</th>
                    <th>RCM Errors</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in DisputeManipulatorService?.Groups ?? Enumerable.Empty<DisputeGroupByBranchViewModel>())
                {
                    <tr>
                        <td>@item.Branch</td>
                        <td>@item.ATMErrorCount</td>
                        <td>@item.RCMErrorCount</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-4">
        <table class="table">
            <thead>
                <tr>
                    <th>Worker</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Count</th>
                    <th>ATM Error</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in DisputeWorkerManagerService?.WorkersATM ?? Enumerable.Empty<DisputeWorkerViewModel>())
                {
                    <tr>
                        <td>@item.WorkerNumber</td>
                        <td>@item.BranchRange.Start</td>
                        <td>@item.BranchRange.End</td>
                        <td>@item.BranchCount</td>
                        <td>@item.ErrorCount</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-4">
        <table class="table">
            <thead>
                <tr>
                    <th>Worker</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Count</th>
                    <th>RCM Error</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in DisputeWorkerManagerService?.WorkersRCM ?? Enumerable.Empty<DisputeWorkerViewModel>())
                {
                    <tr>
                        <td>@item.WorkerNumber</td>
                        <td>@item.BranchRange.Start</td>
                        <td>@item.BranchRange.End</td>
                        <td>@item.BranchCount</td>
                        <td>@item.ErrorCount</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>